ejercicio_final/data/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="cursos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="curso" max0ccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Titulo" type="xs.string"/>
                            <xs:element name="nivel" type="xs.string"/>
                            <xs:element name="horas" type="xs.integer"/>
                            <xs:element name="categorias" type="xs.string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>